*{
    margin: 0px;
    padding: 0px;
}
 .cards{
    width: 20%;
    background-color: #EBE76C;
    border: 1px solid red;
 }   
.image img{
    width: 100%;
    height: 100%;
}
.tittle{
    text-align: center;
    color: #9A3B3B;
}
.buttoncontainer{
    color: black;
    font-size: 24;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.
a{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: white;
    text-decoration: none;
}
.root{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.des{
    padding: 10px;
}
.destext{
    text-align: center;
    font-size: 1.3rem;
}
h1{
    text-align: center;
}